.buttonLayout{
    margin-top: 40px;
    margin-left: 10px;
    width: auto;
}

.logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    /*pointer-events: none;*/
    height: 30px;
    /*float: left;*/
}