.App-logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    height: 50px;
    float: left;
}

.App-header {
    background-color: #D3D3D3;
    color: white;
    height: 50px;
}

.App-title {
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 17px;
    color: black;
}

.logout {
    float: right;
    padding-top: 13px;
    padding-right: 13px;
}

.home{
    float: right;
    padding-top: 13px;
    padding-right: 13px;
    color: black;
}

.login{
    float: right;
    padding-top: 13px;
    padding-right: 13px;
    color: black;
}



/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/